In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2021-07-18 15:56:04,-34.5322,20.0403,74.52,43,5,2.30
1,1,Emerald,AU,2021-07-18 16:01:33,-23.5333,148.1667,48.97,52,1,7.14
2,2,Karratha,AU,2021-07-18 16:00:11,-20.7377,116.8463,68.61,40,0,5.66
3,3,Punta Arenas,CL,2021-07-18 15:57:52,-53.1500,-70.9167,37.51,93,90,10.36
4,4,Vila Franca Do Campo,PT,2021-07-18 15:58:32,37.7167,-25.4333,73.81,62,11,9.51

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Half Moon Bay,US,2021-07-18 15:54:25,37.4636,-122.4286,76.91,80,1,1.01
10,10,Merauke,ID,2021-07-18 16:01:36,-8.4667,140.3333,76.66,90,100,11.72
19,19,Cabedelo,BR,2021-07-18 15:58:29,-6.9811,-34.8339,77.67,70,13,14.99
23,23,Mogadishu,SO,2021-07-18 15:57:19,2.0371,45.3438,77.36,81,17,21.83
25,25,Cabatuan,PH,2021-07-18 16:01:39,10.8794,122.4860,76.80,87,99,6.15
32,32,Rock Springs,US,2021-07-18 16:01:40,41.5875,-109.2029,81.23,28,75,3.44
35,35,Manggar,ID,2021-07-18 16:01:41,-2.8833,108.2667,81.01,80,61,7.54
37,37,Cleveland,US,2021-07-18 16:01:41,41.4995,-81.6954,80.78,68,1,1.01
38,38,Kapaa,US,2021-07-18 15:58:01,22.0752,-159.3190,79.12,83,40,13.80
40,40,Uberaba,BR,2021-07-18 16:01:42,-19.7483,-47.9319,80.47,39,1,9.15

In [13]:
preferred_cities_df.count()

City_ID       229
City          229
Country       228
Date          229
Lat           229
Lng           229
Max Temp      229
Humidity      229
Cloudiness    229
Wind Speed    229
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
6   Half Moon Bay      US     76.91  37.4636 -122.4286
10        Merauke      ID     76.66  -8.4667  140.3333
19       Cabedelo      BR     77.67  -6.9811  -34.8339
23      Mogadishu      SO     77.36   2.0371   45.3438
25       Cabatuan      PH     76.80  10.8794  122.4860
32   Rock Springs      US     81.23  41.5875 -109.2029
35        Manggar      ID     81.01  -2.8833  108.2667
37      Cleveland      US     80.78  41.4995  -81.6954
38          Kapaa      US     79.12  22.0752 -159.3190
40        Uberaba      BR     80.47 -19.7483  -47.9319

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
6,Half Moon Bay,US,76.91,37.4636,-122.4286,"The Ritz-Carlton, Half Moon Bay"
10,Merauke,ID,76.66,-8.4667,140.3333,
19,Cabedelo,BR,77.67,-6.9811,-34.8339,Hotel Pigalle
23,Mogadishu,SO,77.36,2.0371,45.3438,Hotel Juba
25,Cabatuan,PH,76.80,10.8794,122.4860,ROREM'S BOARDING HOUSE
32,Rock Springs,US,81.23,41.5875,-109.2029,Homewood Suites by Hilton Rock Springs
35,Manggar,ID,81.01,-2.8833,108.2667,Guest Hotel
37,Cleveland,US,80.78,41.4995,-81.6954,Renaissance Cleveland Hotel
38,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
40,Uberaba,BR,80.47,-19.7483,-47.9319,Tamareiras Park Hotel

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))